[submodule "gap-coreference"]
	path = gap-coreference
	url = https://github.com/google-research-datasets/gap-coreference.git
[submodule "pytorch-pretrained-BERT"]
	path = pytorch-pretrained-BERT
	url = https://github.com/huggingface/pytorch-pretrained-BERT.git
[submodule "swagaf"]
	path = swagaf
	url = https://github.com/rowanz/swagaf.git
